<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">
    <title>Mitya Site</title>
</head>


<body>

<div id=WideROCKER>
    <img src="static/docs/images/Chuvak.png" alt="Ну я хз, обнови страничку мб">
</div>


<h1>Чувак, ты думал что-то здесь будет? О, нет. От тебя воняет говном, даже отсюда чувствую. Закрывай, закрывай видео,
    иди нахуй. Друг крутой, а ты лоханулся, сука. Аа, блядь.</h1>


<div id="wrapper">
    <a href="/home">
        ИДИ ДОМОЙ>
    </a>
    <nav></nav>
    <div id="heading"></div>
    <aside></aside>
    <section></section>
</div>


<h1>
    <a href="/home">
        <svg class="bi me-2" aria-hidden="true">
            <use xlink:href="#book-half"></use>
        </svg>
        <p>Go to homepage></p>
    </a>
</h1>

</body>
</html>
